.budget-me-page{
    padding: 0;
    margin: 0;
    min-height: 90vh;
    font-size: 20pt;
    background-color: rgb(170, 224, 255);
    color: black;
}

.budget-me-title{
    padding: 1rem;
    margin: 0;
    font-size: 30pt;
    color: black;
    text-align: center;
}

.app-description{
    display: flex;
    flex-direction: column;
    margin-left: 1rem auto;
    margin-right: 1rem auto;
    padding: 1rem;
}

.app-photos{
    margin: auto;
    width: 65vw;
    height: 70vh;
    border-radius: 30pt 30pt;
}

.app-img-controls{
    display:flex;
    justify-content: center;
    align-items: center;
}

.slides-button{
    position: relative;
    border: none;
    width: 50%;
    background-color: rgb(170, 224, 255);
    height: 200px;
    width: 40px;
}

.slides-button:hover{
    border: 2pt rgb(0, 64, 107) solid;
    background: rgb(0, 64, 107);
    border-radius: 10px;
    color: white;
}

.budget-me-description{
    font-size: 12pt;
    text-indent: 10pt;
    padding: 1rem;
}

.text-description{
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
    text-indent:-10pt;
    line-height: 18pt;
}

.app-link{
    text-align: center;
    text-decoration: none;
    border-radius: 25pt 25pt;
    font-size: 14pt;
    margin: 15pt;
    color: black;
    padding: 5pt;
    border: 1pt black solid;
}

.app-link:hover{
    background-color:rgb(62, 184, 255);
}

.app-link:active{
    background-color: rgb(37, 106, 146);
    color: white;
}

.app-img-actives{
    text-align: center;
}


@media screen and (min-width:720px){
    .budget-me-page{
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .app-photos{
        margin: auto;
        padding: 1rem;
        width: 400px;
        height: 640px;
        border-radius: 30pt 30pt;
    }

    .app-description{
        padding: 1rem;
    }

    .app-description ul{
        padding-left: 20%;
        padding-right: 20%;
        line-height: 22pt;
        font-size: 14pt;
    }

    .app-link{
        margin: 1rem auto;
        font-size: 18pt;
        width: 50%;
    }

    .budget-me-description{
        font-size: 14pt;
    }
}

@media screen and (min-width: 840px){
    .app-description{
        padding: 1rem;
        flex-direction: row;
    }

    .app-link{
        width: 80%;
    }
}

@media screen and (min-width: 1080px){
    .app-link{
        width: 60%;
    }
}